.carousel-container {
  position: relative;
  width: 100%;
  max-width: 2000px;
  margin: auto;
  overflow: hidden;
}

.carousel-image {
  width: 100%;
  height: 400px;
  object-fit: cover;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.carousel-image.active {
  opacity: 1;
}

.carousel-caption {
  position: absolute;
  bottom: 0;
  left: 0%;
  width: 70%;
  height: 90%;
  background-color: rgba(0, 0, 0, 0.9);
  color: white;
  padding: 20px;
  line-height: 1.5;
  font-weight: 800;
  text-align:left;
  font-size: 22px;
  clip-path: polygon(0 100%, 0 0, 100% 100%);
  display: flex;
  align-items: end;
  justify-content: left;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}


.prev-button, .next-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  font-size: 24px;
  cursor: pointer;
  padding: 10px;
  z-index: 1;
}

.prev-button {
  left: 10px;
}

.next-button {
  right: 10px;
}

.marques-container {
  width: 100%;
  overflow: hidden;
  background-color: #f3f3f3;
  padding: 10px 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.marques-container h2 {
  margin: 1rem;
  text-align: center;
}

.marques-content {
  display: flex;
  
  align-items: center;
  animation: defilement 10s linear infinite;
  width: calc(200%);
}

.marques-content img {
  width: 150px;
  margin: 0 20px;
}

@keyframes defilement {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.services-section {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  padding: 40px 0;
  background-color: #f4f4f4;
}

.service-item {
  text-align: center;
  width: 200px;
  margin: 20px;
}

.service-circle {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: #fff;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border: 5px solid transparent;
}

.green-border {
  border-color: #21ed51;
}

.fuchsia-border {
  border-color: #fa1d66;
}

.orange-border {
  border-color: #ff6b01;
}

.blue-border {
  border-color: #30a1fd;
}

.service-circle img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.service-item h3 {
  margin-top: 15px;
  margin-right: 40px;
  font-size: 18px;
  color: #b92121;
  white-space: nowrap;
}

.service-item p {
  font-size: 18px;
  color: #585858;
  margin-top: 10px;
  font-weight: 600;
}
