.machines-container {
  padding: 20px;
}

.tabs {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  flex-wrap: wrap;
}

.tab-button {
  padding: 10px 20px;
  margin: 0 10px;
  border: none;
  background-color: #ff6666;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  
  &.active {
    background-color: #871825; // Couleur d'accentuation pour l'onglet actif
    color: white;
  }
}

.tab-button.active {
  background-color: #ff0000;
}

.tab-button:hover {
  background-color: #871825;
}

.machines-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.machine-card {
  background-color: #f4f4f4;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  max-width: 100%;
  text-align: center;
}

.machine-image {
  width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 15px;
}

button {
  background-color: #ff0000;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #b92121;
}

/* Responsive Design */
@media (max-width: 1024px) {
  .machines-list {
    grid-template-columns: repeat(3, 1fr);
  }

  .tab-button {
    font-size: 0.9rem;
    padding: 8px 15px;
  }
}

@media (max-width: 768px) {
  .machines-list {
    grid-template-columns: repeat(2, 1fr);
  }

  .tab-button {
    font-size: 0.85rem;
  }
}

@media (max-width: 576px) {
  .machines-list {
    grid-template-columns: 1fr;
  }

  .tab-button {
    width: 100%; /* Make the buttons stack vertically on small screens */
    padding: 10px;
  }

  .machine-card {
    padding: 15px;
  }

  button {
    padding: 8px 16px;
    font-size: 0.9rem;
  }
}
