.destructeurs-container {
  h1 {
    text-align: center;
    color: black;
    font-size: 2rem; /* Taille de police plus grande */
    margin-bottom: 20px;
  }

  p {
    text-align: center;
    margin-bottom: 30px;
    color: #333;
    font-size: 1rem; /* Texte légèrement plus grand */
    line-height: 1.5; /* Espacement entre les lignes */
  }
}

.tabs {
  justify-content: center;
  margin-bottom: 30px;

  .tab-button {
    padding: 12px 24px; /* Boutons plus larges */
    margin: 5px; /* Espacement plus uniforme */
    border: none;
    background-color: #6BD183;
    font-size: 1.1rem;
    font-weight: bold; /* Texte en gras */
    cursor: pointer;
    border-radius: 8px; /* Boutons arrondis */
    transition: background-color 0.3s ease, transform 0.2s ease;

    &.active {
      background-color: #47985a;
      color: white;
      transform: scale(1.05); /* Effet léger pour indiquer l'état actif */
    }

    &:hover {
      background-color: #47985a;
      transform: scale(1.05);
    }
  }
}

.destructeurs-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.destructeur-card {
  background-color: #f4f4f4;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  max-width: 100%;
  text-align: center;

  .destructeur-image {
    width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 15px;
  }

  h3 {
    color: black;
    margin-bottom: 15px;
    font-size: 1.2rem; /* Titre plus visible */
    font-weight: bold;
  }

  p {
    color: black;
    font-size: 0.95rem; /* Texte descriptif légèrement plus petit */
    margin-bottom: 20px;
    line-height: 1.4; /* Espacement entre les lignes */
  }

  button {
    background-color: #6BD183;
    color: white;
    padding: 12px 24px; /* Boutons plus grands */
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;

    &:hover {
      background-color: #47985a;
      transform: scale(1.05); /* Agrandit légèrement le bouton au survol */
    }
  }
}
@media (max-width: 1024px) {
  .destructeurs-list {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 721px) {
  .tabs .tab-button {
    padding: 10px 20px;
    font-size: 1rem;
  }

  .destructeurs-list {
      grid-template-columns: repeat(2, 1fr); 
}
}

@media (max-width: 576px) {
  .tabs {
    flex-direction: column; /* Les onglets passent en colonne */
  }

  .tabs .tab-button {
    margin-bottom: 10px;
  }

  .destructeur-card {
    padding: 12px;
  }

  .destructeurs-list {
    grid-template-columns: 1fr;
  }

  button {
    padding: 10px 20px;
    font-size: 0.9rem; /* Réduit la taille des boutons */
  }
}

