.machine-details {
  display: flex;
  justify-content: space-between; /* Espacement entre les éléments */
  padding: 20px;
  max-width: 1200px;              /* Limite la largeur du conteneur */
  margin: 0 auto;                /* Centre le conteneur sur la page */
  flex-wrap: wrap;               /* Permet aux éléments de se déplacer sur plusieurs lignes si nécessaire */

  h2 {
    font-size: 2.5rem;
    margin-bottom: 10px;
  }

  p {
    font-size: 1.2rem;
    margin-bottom: 20px;
  }

  .image-container {
    flex: 1;
    margin-left: 100px;
    margin-right: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 500px;                 /* Largeur de l'image principale */
    height: 500px;                /* Hauteur de l'image principale */
    overflow: hidden;            /* Cache les parties de l'image qui débordent */

    img {
      width: 100%;
      width: 440px;
      height: auto;
      object-fit: contain;        /* Assure que l'image reste proportionnelle sans déformer */
      transition: transform 0.3s ease-in-out;
    }
  }

  .image-thumbnails {
    display: flex;
    flex-direction: column;      /* Organise les miniatures en colonne */
    gap: 10px;

    .thumbnail {
      width: 80px;
      height: 80px;
      object-fit: cover;
      cursor: pointer;
      border: 2px solid transparent;
      transition: border 0.3s ease;
      

      &.selected {
        border-color: #ed1a3b;    /* Bordure rouge pour l'élément sélectionné */
      }

      &:hover {
        border-color: #871825;    /* Bordure rouge foncé au survol */
      }
    }
  }
  
  .info-banner {
    display: flex;
    justify-content: space-around; /* Espace égal entre les items */
    background-color: #000000;     /* Couleur de fond */
    color: white;                  /* Couleur du texte */
    padding: 10px 0;               /* Espacement intérieur vertical */
    width: 100vw;                  /* Prend toute la largeur visible de la fenêtre */
    margin: 0;                     /* Supprime les marges */
    position: absolute;            /* Place le bandeau par rapport au document */
    left: 0;                       /* Aligne au bord gauche */
    right: 0;  
    margin-top: 30rem;                    /* Aligne au bord droit */
  
    .info-item {
      font-size: 1.2rem;           /* Taille du texte */
      font-weight: bold;
      cursor: pointer;             /* Curseur pointeur au survol */
  
      &:hover {
        text-decoration: underline; /* Soulignement au survol */
      }
    }
  }
  
  .machine-info {
    flex: 2;
    padding-left: 10px;
    display: flex;
    margin-left: 100px;
    flex-direction: column;
    justify-content: flex-start;

    .machine-description {
      font-weight: bold;
      color: black;
      
      margin-bottom: 20px;
    }

    .quote-button {
      display: inline-block;
      padding: 10px 20px;
      max-width: 140px;
      background-color: #6BD183;
      color: white;
      font-weight: bold;
      text-decoration: none;
      border-radius: 5px;
      transition: background-color 0.3s ease-in-out;
      margin-top: 0px;
      

      &:hover {
        background-color: #47985a; /* Changement de couleur au survol */
      }
    }

    .pdf-container {
      margin-top: -37px;
      text-align: center;

      a {
        display: inline-block;
        padding: 10px 20px;
        background-color: #ed1a3b;
        color: #fff;
        text-decoration: none;
        font-weight: bold;
        border-radius: 5px;
        transition: background-color 0.3s ease;

        &:hover {
          background-color: #871825; /* Changement de couleur au survol */
        }
      }
    }

    .description-container,
    .additional-info-container {
      width: 100%;
      margin-top: 20px;
    }
  }

  /* Description */
  .description-container .description-content {
    font-size: 1.1rem;
    width: 100%;
    margin-top: 5rem;           /* Ajuste la marge supérieure pour espacer davantage */
    margin-bottom: 20px;
    
    p {
      margin-bottom: 10px;
    }

    ul {
      margin-left: 20px;

      li {
        margin-bottom: 5px;
      }
    }
  }

  /* Informations additionnelles */
  .additional-info-container {
    .additional-info-content {
      display: flex;
      flex-wrap: wrap;             /* Permet d'afficher plusieurs éléments côte à côte */
      gap: 20px;

      .info-block {
        flex: 1;
        min-width: 250px;
        padding: 10px;
        background: #f9f9f9;
        border-radius: 8px;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
      }
    }
  }

  /* Contenu vidéo */
  .video-container {
    margin-top: 30px;
    iframe {
      width: 100%;
      max-width: 560px;
      height: 315px;
    }
  }
}

/* Styles responsive */
@media (max-width: 768px) {
  .machine-details {
    flex-direction: column;     /* Colonne pour les écrans plus petits */
    padding: 15px;
    .info-banner {
      margin-top: 50rem; 
    }
  }

  .image-container {
    width: 100%;
    height: auto;
  }

  .machine-details .image-thumbnails {
    flex-direction: row;        /* Affiche les miniatures en ligne */
    gap: 10px;
  }

  .machine-info {
    padding-left: 0;
    width: 100%;
  }

  .quote-button {
    width: 100%;
    padding: 12px;
  }
}

@media (max-width: 480px) {
  .quote-button {
    font-size: 0.9rem;
  }

  h2 {
    font-size: 1.8rem;
  }

  .machine-description {
    font-size: 1rem;
  }
}
