.matelasseur-details {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
    flex-wrap: wrap; /* Responsive */
  
    .image-container {
        flex: 1;
        margin-right: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 600px;
        height: 600px;
        overflow: hidden;
        border: 1px solid white;
  
        img {
            width: 100%;
            height: auto;
            object-fit: contain;
            transition: transform 0.3s ease-in-out;
        }
    }
  
    .image-thumbnails {
        display: flex;
        flex-direction: column;
        gap: 10px;
  
        .thumbnail {
            width: 80px;
            height: 80px;
            object-fit: cover;
            cursor: pointer;
            border: 2px solid transparent;
            transition: border 0.3s ease;
  
            &.selected {
                border-color: #ff0000;
            }
  
            &:hover {
                border-color: #871825;
            }
        }
    }
  
    .matelasseur-info {
        flex: 2;
        padding-left: 10px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
  
        h2 {
            font-size: 2.5rem;
            margin-bottom: 10px;
        }
  
        p {
            font-size: 1.2rem;
            margin-bottom: 20px;
        }

        .additional-info-content {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
            gap: 20px;
            padding: 20px;
            font-size: 1.1rem;
            background-color: #f9f9f9;
            border: 1px solid #ddd;
            border-radius: 8px;
            margin-top: 20px;
        }

        .description-content {
            margin-top: 0;
            padding: 10px;
            font-size: 1.1rem;
  
            p {
                margin-bottom: 10px;
                line-height: 1.5;
            }
  
            ul {
                list-style: disc;
                margin-left: 20px;
  
                li {
                    margin-bottom: 5px;
                }
            }
        }
  
        .video-container {
            margin: 20px 0;
  
            iframe {
                width: 100%;
                max-width: 560px;
                height: 315px;
            }
        }
  
        .quote-button {
            display: inline-block;
            padding: 10px 20px;
            max-height: 18px;
            max-width: 120px;
            background-color: #ff0000;
            color: white;
            text-decoration: none;
            border-radius: 5px;
            transition: background-color 0.3s ease-in-out;
  
            &:hover {
                background-color: #871825;
            }
        }
  
        .pdf-container {
            margin-top: 20px;
            text-align: center;
            
            a {
                display: inline-block;
                padding: 10px 20px;
                background-color: #ff0000;
                color: #fff;
                text-decoration: none;
                font-weight: bold;
                border-radius: 5px;
                transition: background-color 0.3s ease;
  
                &:hover {
                    background-color: #871825;
                }
            }
        }
    }
  
    /* Responsive Styles */
    @media (max-width: 900px) {
        flex-direction: column;
        padding: 15px;
  
        .image-container {
            width: 100%;
            height: auto;
            margin-bottom: 20px;
        }

        .quote-button {
            max-width: 100%; 
        }  
  
        .image-thumbnails {
            flex-direction: row;
            justify-content: center;
            gap: 5px;
        }
  
        .matelasseur-info {
            padding-left: 0;
            width: 100%;
        }
    }
  
    @media (max-width: 768px) {
        h2 {
            font-size: 1.8rem;
        }
  
        p,
        li {
            font-size: 0.9rem;
        }
  
        .quote-button {
            padding: 8px 16px;
            font-size: 1rem;
        }
    }
  
    @media (max-width: 480px) {
        .quote-button {
            font-size: 0.9rem;
            padding: 6px 12px;
        }
  
        h2 {
            font-size: 1.6rem;
        }
    }
}
