/* Styles par défaut */
.search-bar {
  display: flex;
  align-items: center;
  background-color: #f4f4f4;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 0 5px rgba(0,0,0,0.2);
  width: 400px; /* Largeur par défaut pour les grands écrans */
  margin-left: 20px;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}

.search-form {
  display: flex;
  width: 100%;
}

.search-input {
  border: none;
  padding: 10px 15px;
  font-size: 1rem;
  border-radius: 5px 0 0 5px;
  width: 100%;
  outline: none;
}

.search-button {
  background-color: #6BD183;
  border: none;
  color: white;
  padding: 10px 15px;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 0 5px 5px 0;
  transition: background-color 0.3s;
}

.search-button:hover {
  background-color: #47985a;
}

/* Responsive Design */
@media (max-width: 768px) {
  .search-bar {
    width: 90%; /* Ajustement de la largeur pour les écrans moyens */
    margin-left: 10px; /* Réduction de la marge */
  }
}

@media (max-width: 480px) {
  .search-bar {
    width: 90%; /* Ajustement de la largeur pour les petits écrans */
    margin-left: 0; /* Suppression de la marge à gauche */
    margin: 10px auto; /* Centrer la barre de recherche */
  }

  .search-input {
    padding: 8px 10px; /* Réduction du padding pour les petits écrans */
    font-size: 0.9rem; /* Réduction de la taille de la police */
  }

  .search-button {
    padding: 8px 10px; /* Réduction du padding pour les petits écrans */
    font-size: 0.9rem; /* Réduction de la taille de la police */
  }
}
