// searchResults.scss

.search-results {
  display: flex;
  flex-wrap: wrap; // Permet aux éléments de s'enrouler sur plusieurs lignes si nécessaire
  justify-content: space-between; // Aligne les cartes horizontalement
  padding: 20px;
  background-color: #f8f9fa;
  gap: 20px; // Espace entre les cartes
  width: 100%; // Assurer que le parent occupe toute la largeur
}

.results-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px; // Espace entre les cartes
  width: 100%;
}

.result-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 15px;
  margin: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;

  width: 100%; // Par défaut, occupe toute la largeur disponible
  max-width: calc(25% - 90px); // Limite la largeur de chaque carte à environ un tiers de l'écran

  &:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
  }

  .result-image {
    width: 100%;
    height: auto;
    border-radius: 8px;
    object-fit: cover;
    margin-bottom: 10px;
  }

  h3 {
    font-size: 20px;
    color: #444;
    margin: 10px 0;
    text-align: center;
  }

  p {
    font-size: 16px;
    color: #666;
    margin: 5px 0;

    &:last-of-type {
      font-weight: bold;
      color: #ed1a3b; // Couleur pour le stock
    }
  }

  button {
    padding: 10px 15px;
    font-size: 16px;
    color: #fff;
    background-color: #6bd183;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: #47985a;
    }
  }
}
