// searchResults.scss

.search-results {
  


.results-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.result-card {
  background-color: #f4f4f4;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  max-width: 100%;
  text-align: center;

  &:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
  }

  .result-image {
    width: 100%;
    height: auto;
    border-radius: 8px;
    object-fit: cover;
    margin-bottom: 10px;
  }

  h3 {
    font-size: 20px;
    color: #444;
    margin: 10px 0;
    text-align: center;
  }

  p {
    font-size: 16px;
    color: #666;
    margin: 5px 0;

    &:last-of-type {
      font-weight: bold;
      color: #060606; // Couleur pour le stock
    }
  }

  button {
    padding: 10px 15px;
    font-size: 16px;
    margin: 10px;
    color: #fff;
    background-color: #6bd183;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: #47985a;
    }
  }
}
}

.search-results {
  .results-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Par défaut : 4 cartes */
    gap: 20px;
    margin-bottom: 1rem;

    @media (max-width: 1200px) {
      grid-template-columns: repeat(3, 1fr); /* 3 cartes par ligne */
    }

    @media (max-width: 768px) {
      grid-template-columns: repeat(2, 1fr); /* 2 cartes par ligne */
    }

    @media (max-width: 576px) {
      grid-template-columns: 1fr; /* 1 carte par ligne */
    }
  }
}

